.frame__container {
  margin: 1rem auto;
  padding: 0rem !important;

  min-height: 700px;
  border: 4px solid var(--light-grey);

  position: relative;
}

.progres__bar {
  border-radius: 0 !important;
}

.score-progress__container {
  bottom: 0;
  position: absolute;
  padding: 1rem 3rem;
  width: 100%;
}

.score-progress__status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 1.5rem;
}

.score-progress__bar {
  height: 1.5rem !important;
}

.finish__container {
  display: flex;
  margin: 10rem 2rem;

  height: 50vh;
  padding: 2rem;

  flex-direction: column;
  justify-content: center;

  border: 2px solid var(--light-grey);
  border-radius: 10px;
}

.finish-text {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
