.frame__container {
  margin: 1rem auto;
  padding: 0rem !important;

  min-height: 700px;
  border: 4px solid var(--light-grey);
}

.progres__bar {
  border-radius: 0 !important;
}

.finish__container {
  display: flex;
  margin: 10rem 2rem;

  height: 50vh;
  padding: 2rem;

  flex-direction: column;
  justify-content: center;

  border: 2px solid var(--light-grey);
  border-radius: 10px;
}

.finish-text {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
